<!-- Wakatime ( Replace with your own wakatime embed config at https://wakatime.com )-->

<!-- Languages  -->
<!-- <figure><embed src="https://wakatime.com/share/@sujaykundu777/e4c2a44e-390d-41f3-a4c8-b23b05fbec30.svg"></embed></figure> -->
<figure><embed src="https://wakatime.com/share/@4a5cf320-44a1-4d0d-a0d7-23dbecfc1d39/3a1d49fe-c6ac-432b-b2d5-f254beaf1a15.svg"></embed></figure>

<!-- Hours Coded -->
<!-- <figure>
    <embed src="https://wakatime.com/share/@sujaykundu777/5fcfa63e-9357-44d1-9a49-5244504a1f13.svg"></embed>
</figure> -->
<figure><embed src="https://wakatime.com/share/@4a5cf320-44a1-4d0d-a0d7-23dbecfc1d39/d63d19e2-6e92-4189-914e-5d283f903f86.svg"></embed></figure>